body{
    margin: 0;
    padding: 0;
}

* {box-sizing: border-box;}

.main-page{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: auto;
    margin-top: 5%;
    box-shadow: 5px 8px 20px #888888;
    font-family: 'Titillium Web', sans-serif;
}

.logo-section{
  
}

img {
	padding-top: 40px;
    height: 18%;
}

.login {
    background-color: #FFFEFF;
    width: 300px;
    margin-left: 21%;
    margin-bottom: 15%;
}

button {
    margin-top: 8%;
    margin-left:53%;
    background-color: #FFFEFF;
    color: #386870;
    padding: 5px 20px;
    border: #386870 solid 2px;
}

button:hover{
    background-color: #386870;
    color: #FFFEFF;
    transition: 0.2s;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 13px;
    margin-left: 15%;
}

.icon {
    padding: 10px;
    color: #386870;
    width: 50px;
    text-align: center;
}

input{
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: #386870 solid 2px;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
    transition: 0.2s;
}

input[type="text"]
{
    font-family: 'Work Sans', sans-serif;
    color: black;
}


  
